.markdown-body {
  padding-top: 8px;
  padding-bottom: 24px;
  padding-left: 8px;
  padding-right: 16px;
}

.markdown-body ul {
  padding-left: 16px;
}

.markdown-body ul li {
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  list-style-type: disc;
}
